- title "Project"

%p
  %strong Name:
  = @project.name
%p
  %strong Api Key:
  = @project.api_key

%p
  = link_to "Edit", edit_project_path(@project)
  |
  = link_to "Destroy", @project, data: {confirm: 'Are you sure?'}, method: :delete
  |
  = link_to "View All", projects_path
