- title "Project"

%p
  %strong Name:
  = @project.name
%p
  %strong Tracker Webhook URL:
  = hook_url('tracker', @project.api_key)
%p
  %strong Github Webhook URL:
  = hook_url('github', @project.api_key)

%p
  = link_to "Github activity", project_github_activities_path(@project)
  |
  = link_to "Tracker activity", project_pivotal_tracker_activities_path(@project)
  |
  = link_to "Edit", edit_project_path(@project)
  |
  = link_to "Destroy", @project, data: {confirm: 'Are you sure?'}, method: :delete
  |
  = link_to "View All", projects_path
