.activity.pivotal_tracker
  .logo
  .author
    = activity.author
    .occurred_at
      = time_ago_in_words(activity.occurred_at) + ' ago'
  .event_tag{ class: activity.event_tag }
    = activity.event_tag.capitalize
  = link_to('View in Tracker >', activity.story_url, class: 'link_to_site', target: "blank")
  .message
    = activity.message

